DISCORD_BOT_TOKEN=ENTER DISCORD_BOT_TOKEN
DISCORD_CHANNEL_ID=YOUR_CHANNEL_ID
ANTHROPIC_API_KEY=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
RSS_FEED_URL=https://every.to/feeds/fe85842ddccec3a4c0f4.xml, https://fs.blog/feed/, https://dailystoic.com/feed/, https://news.ycombinator.com/rss, https://www.smashingmagazine.com/feed/, https://www.theverge.com/artificial-intelligence/rss/index.xml, https://vitalik.eth.limo/feed.xml, https://www.themarginalian.org/feed/, https://waitbutwhy.com/feed
CHECK_INTERVAL_MINUTES=60 